<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Historial
    </ion-title>
<ion-buttons slot="end">
  <ion-button (click)="enviarCorreo()" color="primary">
    <ion-icon slot="start" name="send"></ion-icon>
  </ion-button>
</ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list *ngFor="let registro of dataLocalService.guardados">
    <ion-item detail (click)="abrirRegistro(registro)">
      <ion-icon color="primary" slot="start" [name]="registro.icon"></ion-icon>
      <ion-label>
        <h2>{{registro.text}}</h2>
        <p>{{registro.created | date:'medium'}} </p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
